<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../assets/headshot.JPG" class="card-img" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Contact me</h5>
        <p class="card-text">P: (414) 940-4150</p>
        <p class="card-text">E: danmcmanus11@outlook.com</p>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <a class="btn btn-secondary btn-block" href="../../../assets/Daniel_McManus_Resume.pdf" download>
    Download My Resume
  </a>
</div>
